<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.search.default.directory_provider">
			org.hibernate.search.store.FSDirectoryProvider
		</property>

		<property name="connection.datasource">java:comp/env/jdbc/semDbConnPool</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="archive.autodetection">class, hbm</property>

		<!-- <property name="use_sql_comments">true</property> -->
		<!-- <property name="format_sql">true</property> -->
		<!-- <property name="show_sql">true</property> -->
		<property name="generate_statistics">true</property>
		<property name="hbm2ddl.auto">update</property>

		<mapping class="it.synclab.patred.sem.persistence.entities.User" />
		<mapping class="it.synclab.patred.sem.persistence.entities.Employee" />
		<mapping class="it.synclab.patred.sem.persistence.entities.Manager" />
		<mapping class="it.synclab.patred.sem.persistence.entities.Order" />
		<mapping class="it.synclab.patred.sem.persistence.entities.EmployeeOrder" />
	</session-factory>
</hibernate-configuration>

