html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html {
	background-color: #D8D8DA;
	font-family: Comic Sans MS, Verdana, sans-serif;
	font-size: larger;
	font-style: normal;
	float: left;
}

.sem-container {
	margin: 5px auto;
	width: 75%;
}

.header {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	border-color: black black -moz-use-text-color;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 1px medium;
	float: left;
	width: 100%;
}

.logo {
	float: left;
}

.title {
	color: #000052;
    float: left;
    font-size: 28px;
    font-weight: bold;
    line-height: 28px;
    margin-top: 5%;
}

.welcome {
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    margin-left: 70%;
}

.logout {
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    margin-left: 70%;
}

.descr {
    margin-top: 10%;
}

div#hormenu {
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-top: 1px solid black;
	background: #FF9C00;
}

div#hormenu ul {
	font-family: Comic Sans MS, Verdana, sans-serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

div#hormenu li {
	width: 150px;
	float: left;
	margin: 0;
	padding: 0;
	border-right: 1px solid black;
}

div#hormenu a {
	display: block;
	padding: 5px;
	color: #00008D;
	text-decoration: none;
}

div#hormenu a:hover {
	background-color: #00008D;
	color: #FF9C00;
	text-decoration: none;
}

div#hormenu li ul {
	display: none
}

div#hormenu li:hover ul {
	display: block;
	position: absolute;
	z-index: 1;
	width: 150px;
	padding: 0;
	margin: 0 0 0 -1px;
	border: 1px solid black;
	background: #FF9C00;
}

div#hormenu li li {
	border: none;
	width: 150px;
}

div#hormenu li li a {
	padding: 2px 2px 2px 10px;
}

div#login {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
	width: 100%;
}

div#loginForm {
	margin-top: 10px;
	float: right;
	width: 50%;
}

div#result {
	color: red;
}

#loginForm div input {
    float: right;
    margin-right: 190px;
}

#loginForm div label {
    float: left;
    margin-bottom: 20px;
}

.main {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
	width: 100%;
}

.footer {
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
	float: left;
	font-size: 11px;
	height: 50px;
	line-height: 18px;
	width: 100%;
}

.one-half {
	float: left;
	margin: 20px 10px;
	width: 28%;
}

.one-half-last {
	float: left;
	margin: 20px 10px;
	width: 65%;
}

/********* TIMESHEET *************************/
div#Theader {
	float: left;
	width: 100%;
}

div#Tbody {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

div#Tfooter {
	float: left;
}

div.timesheets {
	width: 830px;
	margin: 10px auto;
}

div.timesheet {
	float: left;
	width: 100%;
}

div.details {
	float: left;
	width: 100%;
	margin: 10px auto;
}

div.detail {
	width: 951px;
	margin: 0 auto;
}

div.riga {
	float: left;
	width: 100%;
}

div.top-border {
	border-top: 1px solid;
}

div.right-border {
	border-right: 1px solid;
}

div.bottom-border {
	border-bottom: 1px solid;
}

div.left-border {
	border-left: 1px solid;
}

div.riga.odd {background-color: white;}
div.riga.even {background-color: lightsteelblue}

div.timesheet > .riga > .colonna {
	width: 160px;
}

div.detail > .riga > .colonna {
	width: 94px;
}
div.colonna {
	float: left;
	width: 160px;
	text-align: center;
}

.inDetail {
	border: 0 none !important;
    font: inherit !important;
    margin: 0 !important;
    padding: 0 !important;
    vertical-align: baseline !important;
    height: 100%;
    width: 94px;
}

div.head {
	font-weight: bold;
}