<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="hibernate.search.default.directory_provider">
			org.hibernate.search.store.FSDirectoryProvider
		</property>
		
		<property name="connection.url">jdbc:hsqldb:mem:sem</property>
		<property name="connection.username">sa</property>
		<property name="connection.password"></property>
		<property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="dialect">org.hibernate.dialect.HSQLDialect</property>

		<property name="archive.autodetection">class, hbm</property>
		<property name="hbm2ddl.auto">create</property>

		<!-- Non è quello che intuibile la linea sotto... -->
		<mapping package="it.synclab.patred.sem.persistence.entities" />
		
		<mapping class="it.synclab.patred.sem.persistence.entities.User" />
		<mapping class="it.synclab.patred.sem.persistence.entities.Employee" />
		<mapping class="it.synclab.patred.sem.persistence.entities.Manager" />
		<mapping class="it.synclab.patred.sem.persistence.entities.Order" />
		<mapping class="it.synclab.patred.sem.persistence.entities.EmployeeOrder" />
		<mapping class="it.synclab.patred.sem.persistence.entities.Client" />
		<mapping class="it.synclab.patred.sem.persistence.entities.Timesheet" />


	</session-factory>
</hibernate-configuration>

